[Unit]
Description=MCG Backend
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/mcg_radio/backend
ExecStart=/home/pi/mcg_radio/venv_backend/bin/python main.py

[Install]
WantedBy=multi-user.target
