[Unit]
Description=MCG Backend
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/mcg_radio/backend
ExecStart=/home/pi/mcg_radio/venv/bin/python main.py

[Install]
WantedBy=multi-user.target
