[Unit]
Description=MCG Frontend
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/mcg_radio/frontend
Environment="FLASK_APP=frontend.py"
Environment="FLASK_DEBUG=1"
ExecStart=/home/pi/mcg_radio/venv_frontend/bin/flask run --host=0.0.0.0 --port=5001

[Install]
WantedBy=multi-user.target

